.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2.5em;
}

.staff-card-button {
    margin-top: auto;
}