@page "/"
@inject Data.StaffService StaffService

<PageTitle>Staff List</PageTitle>

<h1>Staff List</h1>

@if (staffList == null || !staffList.Any())
{
    <p><em>No staff found.</em></p>
}
else
{
    <div class="row gy-4">
        @foreach (var staff in staffList)
        {
            <div class="col-lg-4 col-md-6 col-12" data-testid="staff-card-@staff.Id">
                <div class="card h-100 shadow-sm">
                    <img src="@staff.PhotoUrl" class="card-img-top" alt="@staff.Name" style="height: 250px; object-fit: cover;">
                    <div class="card-body text-center">
                        <h5 class="card-title">@staff.Name</h5>
                        
                        <button class="btn btn-primary staff-card-button" @onclick="() => ShowStaffDetails(staff)" data-testid="view-details-button-@staff.Id">
                            View Details
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (isModalOpen && selectedStaff != null)
{
    <StaffDetailModal Staff="selectedStaff" OnClose="CloseStaffDetails" />
}


@code {
    private List<Data.Staff>? staffList;
    
    private bool isModalOpen = false;
    private Staff? selectedStaff;

    protected override void OnInitialized()
    {
        staffList = StaffService.GetStaffList();
    }

    private void ShowStaffDetails(Staff staff)
    {
        selectedStaff = staff;
        isModalOpen = true;
        
        StateHasChanged();
    }

    private void CloseStaffDetails()
    {
        isModalOpen = false;
        selectedStaff = null;
        
        StateHasChanged();
    }
}